body {
  background: #222;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
  font-family: Arial;
}

#game {
  width: 300px;
  height: 500px;
  background: #555;
  position: relative;
  overflow: hidden;
  border: 3px solid white;
}

/* Player car */
#player {
  width: 60px;
  height: 100px;
  background: red;
  position: absolute;
  bottom: 20px;
  left: 120px; /* middle lane */
  border-radius: 10px;
}

/* Enemy car */
.enemy {
  width: 60px;
  height: 100px;
  background: yellow;
  position: absolute;
  top: -120px;
  border-radius: 10px;
}
